.dropdown {
    /* display: none; */
    position: absolute;
    background-color: #49d839;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    padding: 10px;
  }

  .dropdown-content a {
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
  }

  .dropdown-content a:hover {
    background-color: #3f9138;
  }