<div class="flex flex-col items-center bg-gray-200 justify-center min-h-screen" >
    <div class="m-6">
        <h1 class=" text-3xl font-bold  ">Welcome to Library</h1>
        <h3>Explore the books </h3>
    </div>
    

   <div class="flex items-center mt-42 bg-gray-200 justify-center">

       <div class="bg-green-600 text-white hover:bg-green-700 rounded py-2 px-6 mr-3">
           <h2 routerLink="/login">Login</h2>
        </div>
        <div class="ml-10 px-6 py-2 bg-green-600 text-white hover:bg-green-700 rounded">
            <h3 routerLink="/register">Register</h3>
        </div>
    </div>
</div>